/*Estilização da navbar*/
#unitBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8rem;
    gap: 1rem;
}

#convList{
    display: flex;
    gap: 1rem;
}
#convList li:hover{
    transform: scale(1.1);
}
.linkText{
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #0084ff;
    background-color: #aba9a4;
    padding: 0.5rem;
    border-radius: 10px;
}
.linkText:hover{
    background-color: #d1d1d1;
    cursor: pointer;
    transform: scale(1.05);
}
.std-text{
    font-size: 1.2rem;
}

#selected{
    background-color: #0084ff;
    color: #aba9a4;
}


#converter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12rem;
    gap: 0.75rem;
}
.unitContainer{
    display: flex;
    gap: 0.75rem;
}


/*Form Styles*/

#formBody{
    display: flex;
    flex-direction: column;
}

#first-tr{
    display: flex;
    gap: 9.5rem;
}